<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div>
  <div class="item-background">
<div class="details">
  <ul>
    <li><strong>First Name:</strong> {{data.firstname}}</li>
    <li><strong>Last Name:</strong> {{data.lastname}}</li>
    <li><strong>Technology: </strong>{{data.technology}}</li>
    <li><strong>Age:</strong> {{data.age}}</li>
  </ul>
</div>
<table class="table table-striped">
  <thead>
      <tr>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Address</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data.livedin">
      <td>{{ item.startdate }}</td>
      <td>{{ item.enddate }}</td>
      <td>{{ item.address }}</td>
    </tr>
  </tbody>
</table>
</div>